@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.underline-hover {
  position: relative;
  padding-bottom: 2px;
  color: white; /* Cambia según tu necesidad */
  text-decoration: none;
  transition: color 0.3s ease;
}

.underline-hover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white; /* Color del subrayado */
  transition: width 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%;
}

.underline-hover:hover {
  color: #ccc; /* Cambia el color del texto en hover */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
