@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.underline-hover {
  position: relative;
  padding-bottom: 2px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.underline-hover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%;
}

.underline-hover:hover {
  color: #ccc;
}
